doctype html

meta(charset='utf-8')
meta(name='prezento-capable', content='yes')
meta(name='prezento-vendor', content='dzslides')

title git++, passez au niveau supérieur de la gestion de versions

link(href='dzslides.css', rel='stylesheet')
link(href='index.css', rel='stylesheet')
link(href='http://fonts.googleapis.com/css?family=Signika|Patua+One', rel='stylesheet', type='text/css')
link(href='highlight.github.css', rel='stylesheet')

section.slide-splash
    .mark git++
    .line Passez au niveau supérieur<br>de la gestion de version
    div(role='note').

section
    .incremental.fit-title
        .title 1. Une conviction
        .title 2. Une méthode
        .title 3. Des outils
        .title Améliorer la qualité
    div(role='note').
        1. Une conviction
        2. Une méthode
        3. Des outils
        => Améliorer la qualité
        Qui utilise git ?
        Qui a trouvé git complexe au début ?

section
    figure.fs-media.fs-media-contain
        img(src="media/cockpit.jpg")
        figcaption man git (>_<)

section
    figure.fs-media
        img(src="media/marteau.jpg")
        figcaption git != SVN

section
    figure.fs-media
        img(src="media/couteau-suisse.jpg")
        figcaption git, un outil multi-fonction!

section
    figure.fs-media
        img(src="media/katana-couteau-suisse.png")
        figcaption git, une arme pour les NINJAS!
    div(role='note').
        git va nous permettre de combattre un fléau trop répandu:
        L'historique sale :-(

section.slide-section
    .title Un historique
    .mark sale

section
    .title Un historique sale
    figure.simple-media
        img(src="media/historique-sale.svg")

section.slide-section
    .title Un historique
    .mark propre
    .line Mais pourquoi faire ?
    div(role='note').
        Dans quels cas de figure il est utile/indispensable d'avoir un historique propre ?

section
    figure.fs-media
        img(src="media/men-in-black.jpg")
        figcaption Perte de mémoire
    div(role='note').
        Mais à quoi elle sert cette méthode déjà ? Pourquoi je l'ai ajouté avec cette visibilité ?

section
    figure.fs-media
        img(src="media/holiday.jpg")
        figcaption En cas d'absence
    div(role='note').
        Vacances, réunions, arrêt maladie, formations, devoxx... toutes ces raisons qui peuvent empêcher de contacter vos collègues ou qui peuvent empêcher vos collègues de vous contacter.

section
    figure.fs-media
        img(src="media/newbie.jpg")
        figcaption Arrivée d'un nouveau
    div(role='note').
        Quand on doit accueillir un petit nouveau, c'est encore plus utile pour lui de pouvoir comprendre l'histoire de votre produit.

section
    figure.fs-media
        img(src="media/pull-request-with-detailed-commits.png")
        figcaption Revue de code
    div(role='note').
        C'est pour toutes ces raisons que c'est important de donner du sens à notre historique de code!

section.slide-section
    .title Donnons du sens à notre
    .mark historique

section
    .title Conventions de commit
    figure.simple-media
        img(src="media/logos.svg")

section.no-transition
    .title Conventions de commit
    figure.simple-media
        img(src="media/conventions-00.png")
    div(role='note').
        Quoi ? Où ? (Pour)quoi ? Comment ? Référence ?

section.no-transition
    .title Conventions de commit
    figure.simple-media
        img(src="media/conventions-01-type.png")

section.no-transition
    .title Conventions de commit
    figure.simple-media
        img(src="media/conventions-01-type-list.png")
    div(role='note').
        feat     : fonctionnalité
        fix      : correctif
        refactor : changement technique
        chore    : changement build/config
        test     : test manquant
        docs     : changement dans la documentation
        style    : changement de formattage

section.no-transition
    .title Conventions de commit
    figure.simple-media
        img(src="media/conventions-02-scope.png")
    div(role='note').
        (optionnel)
        Listez vos scopes
        Faites les évoluer dans le temps

section.no-transition
    .title Conventions de commit
    figure.simple-media
        img(src="media/conventions-03-subject.png")
    div(role='note').
        Description des changements
        Point de vue utilisateur (feat, fix)

section.no-transition
    .title Conventions de commit
    figure.simple-media
        img(src="media/conventions-04-body.png")
    div(role='note').
        (optionnel)
        Détails sur le sujet
        Détails d'implémentation

section.no-transition
    .title Conventions de commit
    figure.simple-media
        img(src="media/conventions-05-footer.png")
    div(role='note').
        (optionnel)
        Identifiant de bug fix
        Identifiant de user story

section.no-transition
    .title Exemple : une fonctionnalité
    figure.simple-media
        img(src="media/conventions-ex-01-feat.png")

section.no-transition
    .title Exemple : une correction
    figure.simple-media
        img(src="media/conventions-ex-02-fix.png")

section
    figure.fs-media
        img(src="media/happy-dev.jpg")
        figcaption Des développeurs contents
    div(role='note').
        C'est que pour les dév ?

section.slide-section
    .title Générer un
    .mark changelog

section
    figure.fs-media
        img(src="media/fs-changelog.png")

section
    figure.fs-media
        img(src="media/happy-users.jpg")
        figcaption Des utilisateurs contents

section
    figure.fs-media
        img(src="media/steve-jobs.jpg")
        figcaption Un Product Owner content

section.slide-section
    .title Améliorons notre
    .mark historique

section
    .title Savoir manipuler des commits :
    .list
        .list-2col-item Renommer
        .list-2col-item Modifier
        .list-2col-item Réordonner
        .list-2col-item Fusionner
        .list-2col-item Insérer
        .list-2col-item Supprimer
    div(role='note').
        On peut se tromper dans nos commits et notre code peut évoluer au fil du temps, il faut être capable de modeler nos commits comme on l'entend...

section.slide-subsection
    .title.title-code git rebase -i

section.slide-wat
    .title WAT ??

section.slide-subsection
    .title git merge
    div(role='note').
        Il faut comprendre les différences entre les stratégie merge et rebase

section.no-transition
    .title Je suis sur la branche feature...
    figure.simple-media
        img(src="media/git-04.png")

section.no-transition
    .title ...et master a évolué.
    figure.simple-media
        img(src="media/git-05.png")

section.no-transition
    .title git merge
    figure.simple-media
        img(src="media/git-07.png")

section.no-transition
    .title Je continue sur ma branche feature...
    figure.simple-media
        img(src="media/git-merge-01.png")

section.no-transition
    .title ...et master a évolué.
    figure.simple-media
        img(src="media/git-merge-02.png")

section.no-transition
    .title git merge
    figure.simple-media
        img(src="media/git-merge-04.png")

section
    .title git merge mal utilisé
    figure.simple-media
        img(src="media/git-merge-bad.jpg")

section.slide-subsection
    .title.title-code git rebase

section.no-transition
    .title Master a évolué.
    figure.simple-media
        img(src="media/git-05.png")

section.no-transition
    .title git rebase (pendant)
    figure.simple-media
        img(src="media/git-rebase-01.png")

section.no-transition
    .title git rebase (après)
    figure.simple-media
        img(src="media/git-rebase-02.png")

section.no-transition
    .title Master a évolué.
    figure.simple-media
        img(src="media/git-rebase-03.png")

section.no-transition
    .title git rebase (pendant)
    figure.simple-media
        img(src="media/git-rebase-04.png")

section.no-transition
    .title git rebase (après)
    figure.simple-media
        img(src="media/git-rebase-05.png")

section
    figure.fs-media
        img(src="media/clean-vs-dirty-water.jpg")
        figcaption git merge vs. git rebase
    div(role='note').
        On vous propose 2 options, elles font débat partout et souvent, et son sujet à troll.
        Une option où l'historique est trouble et chaotique et une autre où l'historique est clair et lisible!

section
    .title git rebase FTW !
    .incremental.incremental-full
        .item-good historique simple
        .item-bad perte du contexte de travail
        .item-bad plus difficile à maitriser
    div(role='note').
        historique simple
        perte du contexte de travail
        plus difficile à maitriser

section.slide-danger
    .mark git merge vs.<br> git rebase
    .line attention aux rebases<br> de commits partagés

section.slide-subsection
    .title.title-code git rebase -i ?

section.no-transition
    .title Je suis sur la branche feature...
    figure.simple-media
        img(src="media/git-rebase-interactive-01.png")

section.no-transition
    .title Je choisis le commit à éditer.
    figure.simple-media
        img(src="media/git-rebase-interactive-02.png")

section.no-transition
    .title git rembobine dessus.
    figure.simple-media
        img(src="media/git-rebase-interactive-03.png")

section.no-transition
    .title J'édite mon code.
    figure.simple-media
        img(src="media/git-rebase-interactive-04.png")

section.no-transition
    .title git rejoue le reste de l'historique...
    figure.simple-media
        img(src="media/git-rebase-interactive-05.png")

section.no-transition
    .title ...et replace ma branche.
    figure.simple-media
        img(src="media/git-rebase-interactive-06.png")

section.no-transition
    .title Et voilà : "ni vu, ni connu".
    figure.simple-media
        img(src="media/git-rebase-interactive-07.png")

section.slide-subsection
    .title git rebase ?
    .title git commit ?
    .title ou git merge ?

section
    .title Je prends une US dans le backlog.
    figure.simple-media
        img(src="media/jira.png")

section
    .title Je créé une branche depuis master.
    figure.simple-media
        img(src="media/collab-01.png")

section.no-transition
    .title Je refactor une méthode.
    figure.simple-media
        img(src="media/collab-02.png")

section.no-transition
    .title J'implémente la fonctionnalité.
    figure.simple-media
        img(src="media/collab-03.png")

section.no-transition
    .title J'ai une autre idée pour le refactor.
    figure.simple-media
        img(src="media/collab-04.png")

section.no-transition
    .title Je fusionne les étapes de conception...
    figure.simple-media
        img(src="media/collab-05.png")
    // master a évolué

section.no-transition
    .title ...avec un git rebase interactive.
    figure.simple-media
        img(src="media/collab-06.png")

section.no-transition
    .title Pendant ce temps là, master évolue.
    figure.simple-media
        img(src="media/collab-07.png")

section.no-transition
    .title Je me rebase sur la dernière version.
    figure.simple-media
        img(src="media/collab-08.png")

section
    .title Je soumets ma pull request.
    figure.simple-media
        img(src="media/new-pull-request.png")

section
    .title J'attire l'attention de l'équipe.
    figure.simple-media
        img(src="media/ukraine-france.gif")

section
    .title L'équipe fait <br> une revue de code.

section
    .title Remarque : il manque un cas de test.
    figure.simple-media
        img(src="media/goal-missed.gif")

section
    .title Si les tests sont verts, <br> l'équipe rajoute des gifs.
    figure.simple-media
        img(src="media/super-green.gif")

section
    .title Automatisation du workflow business process CMMI v12 !
    figure.simple-media
        img(src="media/github-labels.png")

section.no-transition
    .title Je prends en compte la remarque.
    figure.simple-media
        img(src="media/collab-09.png")

section
    .title L'équipe valide mes changements.
    figure.simple-media
        img(src="media/daccord.png")

section.no-transition
    .title Je fusionne les étapes de la revue...
    figure.simple-media
        img(src="media/collab-10.png")

section.no-transition
    .title ...avec un git rebase interactive.
    figure.simple-media
        img(src="media/collab-11.png")

section
    .title L'équipe merge la branche.
    figure.simple-media
        img(src="media/rocket-launcher.gif")

section.no-transition
    .title La fonctionnalité est dans le produit.
    figure.simple-media
        img(src="media/collab-12.png")

section
    .title git rebase, git commit ou git merge ?
    ol.incremental.incremental-full
        li.item
            span.item-part Code privé
            span.item-important ➜ rebase
        li.item
            span.item-part Code review
            span.item-important ➜ commit
        li.item
            span.item-part Code ready
            span.item-important ➜ rebase
        li.item
            span.item-part Code merge
            span.item-important ➜ merge
    div(role="note").
        Code privé ➜ rebase et rebase -i
        Code review ➜ commit
        Code ready ➜ rebase
        Code merge ➜ merge

section.slide-splash
    .mark démo

section
    figure.fs-media
        img(src="media/rpsls.svg")

section.slide-splash
    .mark git++
    .line Ce qu'il faut retenir

section.slide-recap
    .title 1
    .mark Une conviction

section
    .title Un historique propre
    figure.simple-media
        img(src="media/git-clean-history.png")
    div(role="note").
        Un historique propre c'est important, pour avoir :
        Qualité dans le code
        Sérénité dans l'équipe
        Valeur pour l'utilisateur

section.slide-recap
    .title 2
    .mark Une méthode

section
    .title Conventions de commit
    figure.simple-media
        img(src="media/conventions-00.png")

section
    figure.fs-media
        img(src="media/clean-vs-dirty-water.jpg")
        figcaption git merge vs. git rebase

section.slide-recap
    .title 3
    .mark Des outils

section
    .title.title-code git rebase -i
    .list
        .list-2col-item Renommer
        .list-2col-item Modifier
        .list-2col-item Réordonner
        .list-2col-item Fusionner
        .list-2col-item Insérer
        .list-2col-item Supprimer

section
    .title npm i grunt-conventional-changelog<br>grunt changelog
    figure.simple-media
        img(src="media/changelog.png")

section
    figure.fs-media
        img(src="media/happy-dev.jpg")
        figcaption Merci !!

section.slide-profiles
    .profiles
        .profile
            img.profile-picture(src="media/cyril.jpg")
            .profile-name Cyril<br>LAKECH
            .profile-twitter @cyril_lakech<br>@chtijug
            img.profile-company-logo(src="media/groupe-adeo.png")
        .profile
            img.profile-picture(src="media/hubert.jpg")
            .profile-name Hubert<br>SABLONNIÈRE
            .profile-twitter @hsablonniere
            img.profile-company-logo(src="media/ineat-conseil.png")
    .slides-url bit.ly/gitplusplus

script(src='dzslides.js')
script(src='highlight.pack.js')
script hljs.initHighlightingOnLoad();